html {
  font-family: 'Roboto', sans-serif;
}

#sidebar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
	background-color: #fff;

}

#sidebar::-webkit-scrollbar
{
	width: 6px;
	background-color: #fff;
}

#sidebar::-webkit-scrollbar-thumb
{
	background-color: #fff;
}

#sidebar::scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
	background-color: #fff;

}

#sidebar::scrollbar
{
	width: 6px;
	background-color: #fff;
}

#sidebar::scrollbar-thumb
{
	background-color: #fff;
}

hr {
  background-color: rgb(234, 234, 234);
  background-color: #eaeaea;
  width: 100%;
  border: 0;
  height: 3px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

/*************************/
/********CONTAINER********/
/*************************/

.container-fluid{
padding-top:25px !important;
}






/*************** PAGINA POST ****************/

/*************************/
/**IMAGEN DESTACADA POST**/
/*************************/
.imagen-destacada{
	max-height: 80vh;
}
.imagen-destacada>a{
	display: block;
	position: relative;
	width: 100%;
	height: 0;
	padding: 46.66666667% 0 0 0;
	overflow: hidden;
}
.imagen-destacada>a>h1{
	z-index: 88;
	position: absolute;
	top: 5px;
	padding: 2rem;
	color: #fff;
	font-weight: bold;
	font-size: 51px;
}
.imagen-destacada>a>img{
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	object-fit: cover;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

/*************************/
/**IMAGEN AUTOR DEL POST**/
/*************************/
.info-autor{
	padding-top:2rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.foto-autor{
	border-radius: 50%;
}
.info-autor-content{
	padding-right: 2rem;
}
.info-autor div a i{
	color:#E2E2E2;
}
.info-autor div a i:hover{
	color:#cacaca;
}
/*************************/
/*BREADCRUMBS************/
/*************************/
.breadcrumbs{
	padding:20px 0 20px 0rem;
}
.breadcrumbs a{
	color:#65B853;
	text-decoration:none;	
}
.breadcrumbs a:hover{
	color:#76CE63;
	text-decoration:none;	
}
/*************************/
/*ARTICULOS RECIENTES*****/
/*************************/
.titulo-noticia-reciente{	
	display: block;
	position: relative;
	width: 100%;
	height: 0;
	padding: 46.66666667% 0 0 0;
	overflow: hidden;
}
.img-noticia-reciente{	
	position: absolute;
	display: block;
	width: 100%;
	width: 100%;
	height: 100%;
	overflow: hidden;
	object-fit: cover;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}





/*************************/
/**COMENTARIOS USUARIO****/
/*************************/
.info-usuario{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.info-usuario>div:first-of-type{
	padding-right: 2rem;
}
.foto-usuario{
	border-radius: 50%;
}
.info-usuario-content{
	padding-right: 2rem;
}
.nombre-usuario{
	text-align:right;
}
.nombre-usuario>span{
	font-size:10px;
}
.puntuacion-usuario{
	display:flex; 
	justify-content:space-around;
}
.puntuacion-usuario .positivo{
	color:#65B853; 
	text-decoration:none; 
	position:relative;
	float:left;
	float:right; 
}
.puntuacion-usuario .negativo{
	color:red; 
	text-decoration:none; 
	position:relative;
	float:left;
	float:right; 
}
.comentarios{
	padding-bottom:1.5rem;
	height:auto;
}