/* Colores de Fondo */
.bgcolor-multiesencia         { background-color: #f0c300 !important; }
.bgcolor-multiconos           { background-color: #cfa10b !important; }
.bgcolor-tutecnomundo         { background-color: #65b853 !important; }
.bgcolor-apple                { background-color: #41cbbc !important; }
.bgcolor-belleza              { background-color: #ca46a3 !important; }
.bgcolor-cocina               { background-color: #53bb84 !important; }
.bgcolor-educacion            { background-color: #538bbb !important; }
.bgcolor-fama                 { background-color: #da7634 !important; }
.bgcolor-fit                  { background-color: #80ca44 !important; }
.bgcolor-foto                 { background-color: #cfc03f !important; }
.bgcolor-gaming               { background-color: #cf493f !important; }
.bgcolor-interes              { background-color: #a94fbf !important; }
.bgcolor-motor                { background-color: #6c49c5 !important; }
.bgcolor-musica               { background-color: #5581d3 !important; }
.bgcolor-deportes             { background-color: #c59b49 !important; }
.bgcolor-android              { background-color: #66bb53 !important; }
.bgcolor-vlogs                { background-color: #48c49f !important; }
.bgcolor-windows              { background-color: #c66d49 !important; }
.bgcolor-sidebar              { background-color: #efefef !important; }

/* Colores de Fondo de Redes Sociales */
.bgcolor-youtube              { background-color: #cc191e !important; }
.bgcolor-facebook             { background-color: #3e62a3 !important; }
.bgcolor-google               { background-color: #de4c40 !important; }
.bgcolor-twitter              { background-color: #3cc7f4 !important; }
.bgcolor-instagram            { background-color: #e5e0dc !important; }
.bgcolor-pinterest            { background-color: #ca202d !important; }

/* Colores de Texto Brand */
.textcolor-multiesencia       { color: #f0c300 !important; }
.textcolor-multiconos         { color: #cfa10b !important; }
.textcolor-tutecnomundo       { color: #65b853 !important; }
.textcolor-apple              { color: #41cbbc !important; }
.textcolor-belleza            { color: #ca46a3 !important; }
.textcolor-cocina             { color: #53bb84 !important; }
.textcolor-educacion          { color: #538bbb !important; }
.textcolor-fama               { color: #da7634 !important; }
.textcolor-fit                { color: #80ca44 !important; }
.textcolor-foto               { color: #cfc03f !important; }
.textcolor-gaming             { color: #cf493f !important; }
.textcolor-interes            { color: #a94fbf !important; }
.textcolor-motor              { color: #6c49c5 !important; }
.textcolor-musica             { color: #5581d3 !important; }
.textcolor-deportes           { color: #c59b49 !important; }
.textcolor-android            { color: #66bb53 !important; }
.textcolor-vlogs              { color: #48c49f !important; }
.textcolor-windows            { color: #c66d49 !important; }

/* Colores de Texto de Redes Sociales */
.textcolor-youtube              { color: #cc191e !important; }
.textcolor-facebook             { color: #3e62a3 !important; }
.textcolor-google               { color: #de4c40 !important; }
.textcolor-twitter              { color: #3cc7f4 !important; }
.textcolor-instagram            { color: #895a4d !important; }
.textcolor-pinterest            { color: #ca202d !important; }

/* Colores de Texto Base */
.textcolor-blanco             { color: #ffffff !important; }
.textcolor-negro              { color: #000000 !important; }

/* Colores de Enlaces */
.linkcolor-multiesencia       { color: #000000 !important; }
.linkcolor-multiesencia:hover { color: #f0c300 !important; }

.linkcolor-multiconos         { color: #000000 !important; }
.linkcolor-multiconos:hover   { color: #cfa10b !important; }

.linkcolor-tutecnomundo       { color: #000000 !important; }
.linkcolor-tutecnomundo:hover { color: #65b853 !important; }

.linkcolor-apple              { color: #000000 !important; }
.linkcolor-apple:hover        { color: #41cbbc !important; }

.linkcolor-belleza            { color: #000000 !important; }
.linkcolor-belleza:hover      { color: #ca46a3 !important; }

.linkcolor-cocina             { color: #000000 !important; }
.linkcolor-cocina:hover       { color: #53bb84 !important; }

.linkcolor-fama               { color: #000000 !important; }
.linkcolor-fama:hover         { color: #da7634 !important; }

.linkcolor-fit                { color: #000000 !important; }
.linkcolor-fit:hover          { color: #80ca44 !important; }

.linkcolor-foto               { color: #000000 !important; }
.linkcolor-foto:hover         { color: #cfc03f !important; }

.linkcolor-interes            { color: #000000 !important; }
.linkcolor-interes:hover      { color: #a94fbf !important; }

.linkcolor-motor              { color: #000000 !important; }
.linkcolor-motor:hover        { color: #6c49c5 !important; }

.linkcolor-musica             { color: #000000 !important; }
.linkcolor-musica:hover       { color: #5581d3 !important; }

.linkcolor-deportes           { color: #000000 !important; }
.linkcolor-deportes:hover     { color: #c59b49 !important; }

.linkcolor-android            { color: #000000 !important; }
.linkcolor-android:hover      { color: #66bb53 !important; }

.linkcolor-vlogs              { color: #000000 !important; }
.linkcolor-vlogs:hover        { color: #48c49f !important; }

.linkcolor-windows            { color: #000000 !important; }
.linkcolor-windows:hover      { color: #c66d49 !important; }

.bordercolor-multiesencia         { border-color: #f0c300 !important; }
.bordercolor-multiconos           { border-color: #cfa10b !important; }
.bordercolor-tutecnomundo         { border-color: #65b853 !important; }
.bordercolor-apple                { border-color: #41cbbc !important; }
.bordercolor-belleza              { border-color: #ca46a3 !important; }
.bordercolor-cocina               { border-color: #53bb84 !important; }
.bordercolor-educacion            { border-color: #538bbb !important; }
.bordercolor-fama                 { border-color: #da7634 !important; }
.bordercolor-fit                  { border-color: #80ca44 !important; }
.bordercolor-foto                 { border-color: #cfc03f !important; }
.bordercolor-gaming               { border-color: #cf493f !important; }
.bordercolor-interes              { border-color: #a94fbf !important; }
.bordercolor-motor                { border-color: #6c49c5 !important; }
.bordercolor-musica               { border-color: #5581d3 !important; }
.bordercolor-deportes             { border-color: #c59b49 !important; }
.bordercolor-android              { border-color: #66bb53 !important; }
.bordercolor-vlogs                { border-color: #48c49f !important; }
.bordercolor-windows              { border-color: #c66d49 !important; }
.bordercolor-sidebar              { border-color: #efefef !important; }
